<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.url">jdbc:postgresql://${PROD_DB_HOST}:${PROD_DB_PORT}/${PROD_DB_NAME}</property>
		<property name="hibernate.connection.username">${PROD_DB_USERNAME}</property>
		<property name="hibernate.connection.password">${PROD_DB_PASSWORD}</property>
		<property name="hibernate.hbm2ddl.auto">${PROD_DB_UPDATE}</property>
		<property name="hibernate.dialect">${PROD_DB_PLATFORM}</property>
		<property name="hibernate.show_sql">false</property>
		<mapping class="com.fashion.entity.TypeProductEntity" />
		<mapping class="com.fashion.entity.BranchEntity" />
		<mapping class="com.fashion.entity.ProductEntity" />
		<mapping class="com.fashion.entity.SizeEntity" />
		<mapping class="com.fashion.entity.ColorEntity" />
		<mapping class="com.fashion.entity.ProductDetailEntity" />
		<mapping class="com.fashion.entity.UserEntity" />
		<mapping class="com.fashion.entity.RoleEntity" />
		<mapping class="com.fashion.entity.UserRoleEntity" />
		<mapping class="com.fashion.entity.CustomerEntity" />
		<mapping class="com.fashion.entity.BillEntity" />
		<mapping class="com.fashion.entity.BillDetailEntity" />
		<mapping class="com.fashion.entity.NewsEntity" />
		<mapping class="com.fashion.entity.ImagerEntity" />
		<mapping class="com.fashion.entity.HotProductEntity" />
		<mapping class="com.fashion.entity.CalculateEntity" />
	</session-factory>
</hibernate-configuration>