<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
       <!-- <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://awseb-e-i39pvvmbvp-stack-awsebrdsdatabase-nh7sy74c08va.cvlld0vmdwr7.us-east-1.rds.amazonaws.com/fashionshop</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">02072001</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property> -->
        <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="hibernate.connection.password">02072001</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:bkaphrcnn</property>
        <property name="hibernate.connection.username">system</property>
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle12cDialect</property>
        <mapping class="com.fashion.entity.LoaiSanPham"/>
        <mapping class="com.fashion.entity.NhanHieu"/>
        <mapping class="com.fashion.entity.Sanpham"/>
        <mapping class="com.fashion.entity.Kichco"/>
        <mapping class="com.fashion.entity.Mausac"/>
        <mapping class="com.fashion.entity.SanPhamChiTiet"/>
        <mapping class="com.fashion.entity.User"/>
        <mapping class="com.fashion.entity.Roles"/>
        <mapping class="com.fashion.entity.UserRole"/>
        <mapping class="com.fashion.entity.KhachHang"/>
        <mapping class="com.fashion.entity.HoaDon"/>
        <mapping class="com.fashion.entity.HoaDonChiTiet"/>
        <mapping class="com.fashion.entity.TinTuc"/>
        <mapping class="com.fashion.entity.Hinhanh"/>
    </session-factory>
</hibernate-configuration>
